*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    min-height: 100vh;
    background: #2d2d2d;
}


a {
    color: black;
    transform: 0.3s;
    font-size: 17px;
    font-family: 'Times New Roman';

}

a:hover {

    opacity: 0.5;
    color: blue;
}

/*LOGO NAV*/
.divLogo {
    width: 10%;
    height: 10vh;
}

.divLogo img {
    margin-left: 50px;
    flex-direction: row;
    width: 100%;
}

/* FIM LOGO NAV*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    height: 8vh;
    border-style: outset;
    border-width: 2px;
}



.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/*FIM NAV*/
.navegation{
    position: relative;
    height: 100vh;
    background: black;
    width: 70px;
    box-shadow: 10px 0 0 green;
    border-left: 10px solid black;
    overflow-x: hidden;
    transition: 0.5s;
}
.navegation:hover{
    width: 177px;
}

.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;

}
.navegation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
}

.navegation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 20px ;
}

.navegation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navegation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navegation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navegation ul li.active{
    background: green;
}

.navegation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    box-shadow: 15px 15px 0 green;
}
.navegation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none ;
    border-radius: 50%;
    box-shadow: 15px -15px 0 green;
}



