/* pagina mural */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Exo 2", sans-serif;
  background-image: url('../assets/fundo-dash.png.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-image: url('../assets/fundo-dash.png.jpg');
}

.dash {
  width: 94.4%;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-left: 5.4%;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}



.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
  margin-top: 2%;

}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 350px;
  justify-content: right;
  background-color: #2121246d;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
  color: white;
  font: bold;
}

.cards h1 {
  font-size: 22px;
  color: white;
  font: bold;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: white;
  font: bold;
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}








a {
  color: white;
  font: bold;
  transform: 0.3s;
  font-size: 17px;
  font-family: 'Times New Roman';
  text-decoration: none;

  

}


a:hover {

  opacity: 0.5;
  color: blue;
}

/*LOGO NAV*/
.divLogo {
  width: 10%;
  height: 10vh;
}

.divLogo img {
  margin-left: 50px;
  flex-direction: row;
  width: 100%;
}

/* FIM LOGO NAV*/

nav {

  background: rgba(238, 130, 238, 0.303);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 8vh;
  border-style: outset;
  border-width: 2px;
  position: fixed;
}



.nav-list {
  list-style: none;
  display: flex;
  margin-left: 50%;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
/*FIM NAV*/

.navegation{
  position: fixed;
  height: 100vh;
  background: rgba(238, 130, 238, 0.486);
  width: 70px;
  box-shadow: 10px 0 0 rgba(238, 130, 238, 0.55);
  border-left: 10px solid none;
  overflow-x: hidden;
  transition: 0.5s;
  top: 8vh;
}
.navegation:hover{
  width: 200px;
}

.navegation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;

}
.navegation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}

.navegation ul li a{
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: white;
  border-bottom-left-radius: 20px ;
}

.navegation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}
.navegation ul li a .icon ion-icon{
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navegation ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
.navegation ul li.active{
  background: violet;
}
.navegation ul li.active a::before{
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50%;
  box-shadow: 15px 15px 0 violet;
}
.navegation ul li.active a::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: none ;
  border-radius: 50%;
  box-shadow: 15px -15px 0 violet;
}
ul img{
  width: 30px;
  height: 30px;
}
