*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 
  min-height: 100vh;
  background: url('../assets/fundo-pedra.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  
}
 

a {
  color: black;
  transform: 0.3s;
  font-size: 17px;
  font-family: 'Times New Roman';
  text-decoration: none;

  

}


a:hover {

  opacity: 0.5;
  color: blue;
}

/*LOGO NAV*/
.divLogo {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 50px;
}

.divLogo img {
 width: 100%;
 height: 100%;
}
/* FIM LOGO NAV*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  height: 8vh;
  border-style: outset;
  border-width: 2px;
  position: fixed;
  width: 100%;
}



.nav-list {
  list-style: none;
  display: flex;
  margin-left: 50%;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
/*FIM NAV*/

.navegation{
  position: fixed;
  height: 100vh;
  background: rgba(128, 128, 128, 0.773);
  width: 70px;
  box-shadow: 10px 0 0 rgba(0, 0, 0, 0.506);
  border-left: 10px solid none;
  overflow-x: hidden;
  transition: 0.5s;
  top: 8vh;
}
.navegation:hover{
  width: 200px;
}

.navegation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;

}
.navegation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}

.navegation ul li a{
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: white;
  border-bottom-left-radius: 20px ;
}

.navegation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}
.navegation ul li a .icon ion-icon{
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navegation ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
.navegation ul li.active{
  background: rgba(0, 0, 0, 0.506);
}
.navegation ul li.active a::before{
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50%;
  box-shadow: 15px 15px 0 rgba(0, 0, 0, 0);
}
.navegation ul li.active a::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: none ;
  border-radius: 50%;
  box-shadow: 15px -15px 0 rgba(128, 128, 128, 0);
}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.ambos{

padding-left: 25%;
}
canvas {
  width: 50% !important;
  height: 60% !important;
 margin-left: 12%;
  margin-top: 7%;

}


:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}



.container {
  margin-top: 22%;
  width: 800px;
  max-width: 80%;

  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}


ul img{
  width: 30px;
  height: 30px;
}

