body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    justify-self: center;
}


a {
    color: black;
    transform: 0.3s;
    font-size: 17px;
    font-family: 'Times New Roman';
    text-decoration: none;
}

a:hover {

    opacity: 0.5;
    color: blue;
}

/*LOGO NAV*/
.divLogo {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 50px;
}

.divLogo img {
   width: 100%;
   height: 100%;
}

/* FIM LOGO NAV*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    height: 8vh;
    border-style: outset;
    border-width: 2px;
}



.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/*FIM NAV*/

.Habilidades{
    width: 78%;
    height: 125vh;
    margin: 0 auto;
    border-style: outset;
   
}
.resumo{
    width: 78%;
    height: 25vh;
    margin: 5px auto;
    border-style: outset;
}
.resumo h1{
    text-align: center;
}
.explicacao{
    width: 99.5%;
    height: 20vh;
    display: flex;
    border-style: outset;
    
}
.explicacao2{
    widows: 100%;
    height: 20vh;
    display: flex;
    border-style: outset;
    
}

.explicacao2 img{
    width: 35%;
    height: 20vh;
}


.primeira{
    width: 50%;
    height: 16vh;
    margin: 1px;
    padding: 3px 2px;
    display: flex;
    border-style: outset;
}
.primeira img{
    width: 40%;
    height: 15vh;
}
.segundo{
    width: 50%;
    height: 20vh;
    display: flex;
    padding: 2px;
    border-style: outset;
}
.segundo img{
    width: 50%;
    height: 19vh;
    padding: 2px;
    
}
.tresrespiracao{
    width: 100%;
    display: flex;
    margin:15px 0; 
}
.terceiro{
    width: 99.2%;
    height: 18.7vh;
    padding: 2px;
    display: flex;
    border-style: outset;
}

.terceiro img{
    width: 100%;
    height: 18vh;
    padding: 2px;
    
}