body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    justify-self: center;
}


a {
    color: black;
    transform: 0.3s;
    font-size: 17px;
    font-family: 'Times New Roman';
    text-decoration: none;
}

a:hover {

    opacity: 0.5;
    color: blue;
}

/*LOGO NAV*/
.divLogo {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 50px;
}

.divLogo img {
   width: 100%;
   height: 100%;
}

/* FIM LOGO NAV*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    height: 8vh;
    border-style: outset;
    border-width: 2px;
}



.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/*FIM NAV*/

.paginageral{
    display: flex;
}
.lateralEsquerda {
    margin-left: .5%;
    width: 150px;
    height: 188px;
}
.lateralEsquerda img{
    width: 100%;
    height: 100%;
}

.meio{
    width: 80%; 

}
.lateralDireita {

    width: 150px;
    height: 188px;
}
.lateralDireita img{
    width: 100%;
    height: 100%;

}

.geral{
    width: 100%; 
    height: 105vh;
    margin: 0 auto;
    border-style: outset;
}
.Main-Container{
    width: 100%;
    height: 50vh;
    

    
   
    
}
.titulo{
    width: 100%;
    margin: 10 auto;
}
.container1{
    display: flex;
   
}
.form-img{
    height: 34vh; 
    margin: 5px;
}

.container1 img{
    width: 500px;
    height: 250px;
    display: flex;
}
.container2{
    display: flex;
    height: 37vh;
  
}
.form-img2{
    height: 34vh; 
}
.container2 img{
    width: 500px;
    height: 250px;
    display: flex;
    padding: 2px;
    
}
.container2 a{
    display: flex;
    width: 5%;
    height: 5vh;
    
}
