*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    min-height: 100vh;
    background-image: url('../assets/fundo-som.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    color: white;
    
}
   
   

a {
    color: white;
    transform: 0.3s;
    font-size: 17px;
    font-family: 'Times New Roman';
    text-decoration: none;
}


a:hover {

    opacity: 0.5;
    color: blue;
}

/*LOGO NAV*/
.divLogo {
    width: 10%;
    height: 10vh;
}

.divLogo img {
    margin-left: 50px;
    flex-direction: row;
    width: 100%;
}

/* FIM LOGO NAV*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    height: 8vh;
    border-style: outset;
    border-width: 2px;
    position: fixed;
}



.nav-list {
    margin-left: 50%;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
/*FIM NAV*/

.navegation{
    position: fixed;
    height: 100vh;
    background: rgba(128, 128, 128, 0.616);
    width: 70px;
    box-shadow: 10px 0 0 rgba(128, 128, 128, 0.876);
    border-left: 10px solid none;
    overflow-x: hidden;
    transition: 0.5s;
    top: 8vh;
}
.navegation:hover{
    width: 200px;
}

.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;

}
.navegation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
}

.navegation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 20px ;
}

.navegation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navegation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navegation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navegation ul li.active{
    background: gray;
}
.navegation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    box-shadow: 15px 15px 0 gray;
}
.navegation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none ;
    border-radius: 50%;
    box-shadow: 15px -15px 0 gray;
}

.LovePilar{
    background: url('../assets/fundo-amor.png') ;
}

.geral{
    display: flex;
   

    
}

 .geral {
    width: 100%;
  
}

.sobre{
    width: 100%;
    height: 100vh;
    margin-left: 5% ;
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#imagem0{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
#imagem0 img{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 15px;
    justify-content: unset;
}

h1{
    margin: 15px;
    text-align: center;
    margin-bottom: 5px ;
    height: 5vh;
}
h2{
    margin-left: 35px;
}

.historia{
    width: auto;
    margin:  20px;
    padding: 15px;
    display: flex;
    border-style: outset;
}
.historia img{
    width: 400px;
    height: 285px;
    padding: 0;
}
#habilidades{
    width: auto;
    margin:  20px;
    padding: 10px;
    display: flex;
    border-style: outset;
  
}
#habilidades img{
    padding: 3px;
}
#respiracao{
    width: auto;
    margin: 20px;
    padding: 10px;
    border-style: outset;
}
.respiracoes{
    width: auto;
    height: 42vh;
    margin: 0 20px;
    border-style: outset;
}
#detalhe1{
    padding: 5px;
    border-style: outset;
    width: 33.3%;
    height: 41vh;
    margin: 1px;
    display: block;
    text-align: center;
    justify-content: space-around;
    
    
}
#detalhe01{
    border-style: outset;
    width: 33.3%;
    height: 37vh;
    margin: 1px;
    text-align: center; 
}

.parte1 img{
    width: 250px;
    height: 150px;
    margin: 0 auto;
}
.parte1{
    display: flex;
    justify-content: space-around;
}
ul img{
    width: 30px;
    height: 30px;
}

