

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:argen ;
}

body {

    min-height: 100vh;
    background-image: url('../assets/zenitsu-fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh;
    color: white;

}



a {
    color: white;
    transform: 0.3s;
    font-size: 17px;
    font-family: 'Times New Roman';
    text-decoration: none;
}


a:hover {

    opacity: 0.5;
    color: blue;
}

/*LOGO NAV*/
.divLogo {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 50px;
}

.divLogo img {
    width: 100%;
    height: 100%;
}
.principais{
    margin-left: -7%;
    width: 40%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:5%;
}
.principais li{
    margin: 2% 0;
}
.principais a{

    font-size:x-large;
}

/* FIM LOGO NAV*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 8vh;
    width: 100%;
    border-style: outset;
    border-width: 2px;
   background: rgba(0, 0, 0, 0.268);
   position: fixed;
}

.nav-list {

    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.geral{
    margin-top: 2.5%;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.name {

    text-align: center;
    margin-bottom: 2%;
    color: rgba(255, 255, 0, 0.559);
}

h2{
    width: 80%;
    margin-left: 12%;
    margin-bottom: 1%;
}


.historia,
.personalidade, .exibicao{
    margin: 0 auto;
    width: 90%;
    padding: 5px;
    color: white;
    margin-bottom: 10px;

    background: rgba(0, 0, 0, 0.321);
    border-style: outset;
}

.historia .p1,
.personalidade .p1 {
    display: flex;
}

.historia img,
.personalidade .p1 {
    height: 200px;
}

.personalidade img {
    margin: 3px;
}
.exibicao{
    margin-bottom: 5%;
}

.exibicao img{
    width: 260px;
}